# Asana API Configuration
# Obtén tu token de acceso personal en: https://app.asana.com/0/my-apps
VITE_ASANA_TOKEN=tu_token_de_asana_aqui

# Asana Workspace ID (opcional)
# VITE_ASANA_WORKSPACE_ID=

# Asana Project ID (opcional)
# VITE_ASANA_PROJECT_ID=

# Contraseñas de usuarios
VITE_PASSWORD_ADMIN=
VITE_PASSWORD_TECNICO=

# Otras variables de entorno que necesites
# VITE_API_URL=
